<div class="frame" style="border: thin solid black">

  <header>
    <div class="level-container">Level: <span class="level">{{level}}</span></div>
    <div class="score-container">Score: <span class="score">{{score}}</span></div>
    <div class="milestones-container">Milestones: <span class="milestones">{{milestones}}</span></div>
  </header>

  <section class="body-region">
    Body
  </section>

  <footer>
    <div class="actions-container">Actions: <span class="actions"></span></div>
  </footer>
</div>
